.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

body {
    background-color: #3b3b3b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    padding-top: 100px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: pink;
    position: relative;
    transition: all 3s ease;
}

.box:hover .box1 {
    transform: rotate3d(90deg, 45deg, 45deg) translate(-50%, -50%);
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: olivedrab;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    transition: all .3s ease;
}

@media screen and (min-width: 900px) {
   .box1 {
        right: 10px;
        left: auto;
   }
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 5;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: lightskyblue;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 5;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: lightyellow;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 55;
}

input[type='text'] {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    margin-top: 50px;
    box-sizing: border-box;
}

.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: rgba(255, 255, 255, .8);
}

.auth_form {
    width: 100%;
    max-width: 500px;
    background-color: lightcoral;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.auth_form h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.auth_form input {
    background-color: #fff;
    display: block;
    padding: 10px 0;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
    font-size: 20px;
}

.auth_form input::placeholder {
    color: red;
    font-size: 40px;
}

.card_wrapper {
    width: 300px;
    height: 300px;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.card_inner:hover .card_front {
    transform: rotateX(180deg);
    border-radius: 10px;
}

.card_inner:hover .card_back {
    transform: rotateX(0deg);
    border-radius: 10px;
}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

.card_front {
    background-color: pink;
    backface-visibility: hidden;
}

.card_back {
    background-color: #6e6868;
    transform: rotateX(180deg);
    backface-visibility: hidden;
}

.image_wrapper {
    position: relative;
    padding-bottom: 100%;
    width: 300px;
}

.image_wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.row {
    display: flex;
    gap: 20px;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    width: 450px;
    color: #000;
    position: sticky;
    top: 30px;
    height: 500px;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    background: #fff;
    color: #000;
}

.image_item {
    width: 25%;
}

/* .image_item img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.image_item_wrapper {
    position: relative;
    overflow: hidden;
}

.image_item_wrapper.one_to_one {
    padding-bottom: 100%;
}

.image_item_wrapper.three_to_four {
    padding-bottom: 75%;
}

.image_item_wrapper.nine_to_sixteen {
    padding-bottom: 56.25%;
}

.image_item_wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}