.container {
    font-family: Arial, Helvetica, sans-serif;
    color: #141414;
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
    padding: 50px 0;
    text-align: center;
}

img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

body {
    min-height: 100%;
    background-color: lightblue;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
}

.slick-prev {
    left: -45px;
}

.slider_custom {
    width: 100%;
    height: 100vh;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}